{% load static %}
{% load men_tags %}
<html>
<head>
	<title>{{title}}</title>
	<link type="text/css" href="{% static 'men/css/styles.css' %}" rel="stylesheet" />
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
	<link rel="shortcut icon" href="{% static 'men/images/main.ico' %}" type="image/x-icon"/>
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body>
<table class="table-page" border=0 cellpadding="0" cellspacing="0">
<tr><td valign=top>
{% block mainmenu %}
		<div class="header">
			<ul id="mainmenu" class="mainmenu">
			<li class="logo"><a href="{% url 'index' %}"><div class="logo"></div></a></li>
<!--{% get_menu as menu %} we dont need to pass menu via tag, because we use context_processors in settings and menu now displays in every template  -->
{% for m in mainmenu %}<!-- here we change menu for mainmenu(dict from context_processors.py) -->
	<li><a href="{% url m.url_name  %}">{{m.title}}</a></li>
{% endfor %}
{% if user.is_authenticated %}<!-- because in settings in context_processors we have auth, so then it passes user here(kinda built-in method) -->
	<li class="last">{{ user.username }}<a href="{% url 'users:logout' %}"> | logout</a> </li> <!-- if user logged in then it displays the name of the user and button logout -->
{% else %}
	<li class="last"><a href="{% url 'users:login' %}">login</a> | <a href="#">Register</a></li><!-- if user isnt logged in then it displays login | register -->
{% endif %}
			</ul>
			<div class="clear"></div>
		</div>
{% endblock mainmenu %}


<table class="table-content" border=0 cellpadding="0" cellspacing="0">
<tr>
<!-- Sidebar слева -->
	<td valign="top" class="left-chapters">
	<ul id="leftchapters">
		{% if cat_selected == 0  %}
		<li class="selected">Categories</li>
		{% else %}
		<li><a href="{% url 'index'  %}">Categories</a></li>
		{% endif %}
		{% show_categories cat_selected %}
		<li class="share">
		<p>Our channel</p>
		<a class="share-yt" href="https://www.youtube.com/channel/UClJzWfGWuGJL2t-3dYKcHTA/playlists" target="_blank" rel="nofollow"></a>
		</li>

		<li>{% show_all_tags %}</li> <!-- after we defined tag in templatetags/men_tags.py we need to insert the name of the tag here -->
	</ul>
</td>
<!-- Конец Sidebar'а -->
<td valign="top" class="content">
	<!-- Хлебные крошки -->
	{% block breadcrumbs %}
	{% endblock %}

<!-- Блок контента -->
	<div class="content-text">
{% block content %}
{% endblock %}
	</div>
<!-- Конец блока контента -->

<!-- navigation block -->
{% block navigation %}
{% endblock %}
<!-- end of navigation block -->


</td></tr></table>
</td></tr>
<!-- Footer -->
<tr><td valign=top>
	<div id="footer">
		<p>&copy; 2023 Частичное или полное копирование информации с данного сайта для распространения на других ресурсах, в том числе и бумажных, строго запрещено.</p>
	</div>
</td></tr></table>
<!-- Конец footer'а и страницы -->
</body>
</html>
